* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    color: rgb(92, 148, 7);
}

.body {
    display: flex;
    flex-direction: column;
}
.nav_header {
    display: flex;
    justify-content: space-between;
}

.links {
    gap: 10px;
    margin-right: 20px;
    text-transform: uppercase;
    color: white;
}
ul {
    display: flex;
    list-style: none;
    margin-top: 10px;
}

a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    color: rgb(0, 0, 0);
}

.background-image {
    background-image:url("images/background-image.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.Head {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    font-size: 40px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px #6520208a;
}

span {
    color: greenyellow;
}

.BannerWrapper {
    display: flex;
    gap: 20px;  /* pushing last banner to the bottom */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.banner {
    flex-basis: 300px;
    font-size: 20px;
}

.BannerHeader {
    margin-bottom: 50px;
    text-align: center;
    text-transform: upper;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.BannerContainer {
    padding-top: 50px;
    border-bottom: 2px solid gainsboro;
    max-width: 1000px;
    margin: auto;
}

.banner_icon {
    width: 60px;
}

.BannerDescription {
    margin-top: 10px;
}

.vacations {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: center;
    margin: auto;
    gap: 1rem;
}

.highlights-image {
    width: 300px;
    border-radius: 10px;
}

.content-goal {
    background-color: green;
    margin-top: 50px;
}
.goal-container {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: rgb(209, 218, 209);
}
.social-wrapper {
    padding: 20px;
    justify-content: center;
    gap: 1rem;
}

.social-icon {
    height: 40px;
}

.footer.section {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    gap: 50px;
}

.company, .other-services, .pricing {
    display: block;
}

.payment-method {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.payment-icons {
    height: 40px;
}